.app.light {
	--bg-color: #ecf9ff;
	--inverted-bg-color: #27374d;

	--primary-color: #344174;
	--secondary-color: #e5e0ff;

	--inverted-primary-color: #dde6ed;
	--inverted-secondary-color: #9db2bf;
}
